<ion-view view-title="About" cache-view="false">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon ion-android-arrow-back" ng-click="back()">
      </button>
    </ion-nav-buttons>    
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="login share padding">

      <div class="logo-bit about">
        <img src="img/logo-bit.png" alt="">
      </div>

      <p>
        <span class="text-big">BusInTime</span> let you know about the bus position right now in real time by using crowd GPS. with this app, you will never waste your time anymore to take bus.
      </p>

      <p class="coins">
        Built with <i class="icon ion-ios-heart"></i> by BIT team
      </p>
      
    </div>
  </ion-content>
</ion-view>
