<ion-view view-title="Get Your Bus">
	<ion-content class='content-red'>

		<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
			<ui-gmap-marker coords="marker.coords" idkey="marker.id" options="marker.options"></ui-gmap-marker>
		</ui-gmap-google-map>

		<div class="list">
			<a class="item item-icon-left" ui-sref="busintime.bustrack">
				<i class="icon ion-android-bus text-stable"></i>
				<h2>Leuwipanjang > Dago</h2>
				<h2 class='text-right'><i class="ion-clock"></i> 04:21</h2>
			</a>
			<a class="item item-icon-left" ui-sref="busintime.bustrack">
				<i class="icon ion-android-bus text-stable"></i>
				<h2>Leuwipanjang > Dago</h2>
				<h2 class='text-right'><i class="ion-clock"></i> 04:21</h2>
			</a>
			<a class="item item-icon-left" ui-sref="busintime.bustrack">
				<i class="icon ion-android-bus text-stable"></i>
				<h2>Leuwipanjang > Dago</h2>
				<h2 class='text-right'><i class="ion-clock"></i> 04:21</h2>
			</a>
			<a class="item item-icon-left" ui-sref="busintime.bustrack">
				<i class="icon ion-android-bus text-stable"></i>
				<h2>Leuwipanjang > Dago</h2>
				<h2 class='text-right'><i class="ion-clock"></i> 04:21</h2>
			</a>
			<a class="item item-icon-left" ui-sref="busintime.bustrack">
				<i class="icon ion-android-bus text-stable"></i>
				<h2>Leuwipanjang > Dago</h2>
				<h2 class='text-right'><i class="ion-clock"></i> 04:21</h2>
			</a>
			<a class="item item-icon-left" ui-sref="busintime.bustrack">
				<i class="icon ion-android-bus text-stable"></i>
				<h2>Leuwipanjang > Dago</h2>
				<h2 class='text-right'><i class="ion-clock"></i> 04:21</h2>
			</a>
		</div>
	</ion-content>
</ion-view>
