<ion-view view-title="History">
  <ion-content>
    <div class="row headline">
      <div class='col col-center'><i class='ion-ios-arrow-left left-arrow'></i></div>
      <div class='col-80'>
        <h4 class="text-stable">
          September 2015
        </h4>
        <h1>Rp 9.000.000,-</h1>
      </div>
      <div class='col col-center'><i class='ion-ios-arrow-right right-arrow'></i></div>
      <span class="switch-view"><i class='ion-ios-pie text-stable'></i></span>
    </div>

    <ion-list class='history-item'>
      <div class="item item-divider">
        <span class='pull-left'>1 September 2015</span>
        <span class='pull-right'><small class='text-assertive'>- Rp 50.000.000,-</small></span>
      </div>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-wineglass-outline text-goodism-green"></i>
        <h2 class='text-assertive item-history-value'>
          - Rp 52.000,-
          <small class='pull-right item-history-time'><i class='ion-ios-clock-outline'></i> 07:31</small>
        </h2>
        <p class='item-history-desc'>Sarapan @ Warpas</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-cart-outline text-goodism-red"></i>
        <h2 class='text-assertive item-history-value'>
          - Rp 225.000,-
          <small class='pull-right item-history-time'><i class='ion-ios-clock-outline'></i> 10:21</small>
        </h2>
        <p>Bensin</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-wineglass-outline text-goodism-green"></i>
        <h2 class='text-assertive item-history-value'>
          - Rp 12.000,-
          <small class='pull-right item-history-time'><i class='ion-ios-clock-outline'></i> 10:21</small>
        </h2>
        <p>Makan Siang @ Kantin Borju</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-film-outline text-goodism-blue"></i>
        <h2 class='text-assertive item-history-value'>
          - Rp 50.000,-
          <small class='pull-right item-history-time'><i class='ion-ios-clock-outline'></i> 10:21</small>
        </h2>
        <p>Nonton Kingsman @ XXI</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-medical-outline text-goodism-orange"></i>
        <h2 class='text-assertive'>- Rp 12.000,-</h2>
        <p>Tissue @ Indomaret</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>



      <div class="item item-divider">2 September 2015</div>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-wineglass-outline text-goodism-green"></i>
        <h2 class='text-assertive'>- Rp 52.000,-</h2>
        <p>Sarapan @ Warpas</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-cart-outline text-goodism-red"></i>
        <h2 class='text-assertive'>- Rp 260.000,-</h2>
        <p>Bensin</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-wineglass-outline text-goodism-green"></i>
        <h2 class='text-assertive'>- Rp 12.000,-</h2>
        <p>Makan Siang @ Kantin Borju</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-film-outline text-goodism-blue"></i>
        <h2 class='text-assertive'>- Rp 50.000,-</h2>
        <p>Nonton Kingsman @ XXI</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-history" type="item-text-wrap">
        <i class="icon ion-ios-medical-outline text-goodism-orange"></i>
        <h2 class='text-assertive'>- Rp 12.000,-</h2>
        <p>Tissue @ Indomaret</p>
        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>

      
    </ion-list>
  </ion-content>
</ion-view>
