<ion-view view-title="Login" hide-nav-bar="true" cache-view="false">
  <ion-content scroll="false" has-header="false">
    <div class="login padding">
      <div class="logo-bit">
        <img src="img/logo-bit.png" alt="">
      </div>
      <button class="button button-block button-positive">
        Login with Facebook
      </button>
      <button class="button button-block button-balanced">
        Login with Google
      </button>
      <button class="button button-block button-stable" ng-click="login()">
        Continue as guest
      </button>
    </div>
  </ion-content>
</ion-view>
