<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="#">
        <i class="ion-android-add-circle"></i> Add Income
      </a>
      <a class="item" href="#">
        <i class="ion-help-circled"></i> About
      </a>
      <a class="item" ui-sref="tutorial">
        <i class="ion-help-buoy"></i> Help
      </a>
      <a class="item" ui-sref="profile({id: 'profile'})">
        <i class="ion-person"></i> Profile
      </a>
      <a class="item" href="#">
        <i class="ion-close-circled"></i> Exit
      </a>
    </div>
  </ion-content>
</ion-popover-view>