<ion-nav-bar class="bar-stable">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-android-arrow-back" ng-click="back()">
    </button>
  </ion-nav-buttons>    
</ion-nav-bar>
<ion-view view-title="Share GPS" cache-view="false">
  <ion-content scroll="false">
    <div class="login share padding">
      <p>You can help to track this bus <br> by activating your GPS</p>

      <div class="logo-bus">
        <img src="img/logo-bus.png" alt="">
      </div>

      <p class="coins">
        you just got <span class="text-big">2000</span> coins <br>
        in total <span class="text-big">10</span> minutes
      </p>
      <button class="button button-block button-balanced" ng-click="start()" ng-show="state == 0">
        Start
      </button>
      <button class="button button-block button-positive" ng-click="stop()" ng-show="state == 1">
        Stop
      </button>
      <button class="button button-block button-stable" ng-click="back()">
        Back
      </button>
      
    </div>
    <div class="bar bar-footer content-red footer-track">
      <div class='row'>
        <div class="col">
          <h2>{{trayek.fromCode}}</h2>
          <h6>{{trayek.from}}</h6>
        </div>
        <div class="col-20">
          <h1><i class='ion-arrow-right-c'></i></h1>
          {{numbering(trayek.time.min)}}:{{numbering(trayek.time.sec)}}</h4>
        </div>
        <div class="col">
          <h2>{{trayek.toCode}}</h2>
          <h6>{{trayek.to}}</h6>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
