<ion-view view-title="Settings">
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Daily Budget
      </div>

      <ion-item class="item-avatar" type="item-text-wrap" href="#">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Food</h2>
        <p>Rp 100.000,-</p>
      </ion-item>

      <ion-item class="item-avatar" type="item-text-wrap" href="#">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Entertainment</h2>
        <p>Rp 30.000,-</p>
      </ion-item>

      <ion-item class="item-avatar" type="item-text-wrap" href="#">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Transportation</h2>
        <p>Rp 20.000,-</p>
      </ion-item>

      <ion-item class="item-avatar" type="item-text-wrap" href="#">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>Others</h2>
        <p>Rp 10.000,-</p>
      </ion-item>


      <div class="item item-divider">
        Currency
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label">Currency Symbol</span>
        <input type="text" placeholder="Currency Symbol">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Decimal</span>
        <input type="text" placeholder="Decimal">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Thousand</span>
        <input type="text" placeholder="Thousand">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Precision</span>
        <input type="text" placeholder="Precision">
      </label>

    </div>
    <!-- <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
