<ion-view view-title="Saving">
  <ion-content>
     <div class="budget-jumbo-top ">
      <ion-slide-box show-pager="false">
        <ion-slide>
          <div class="row">
            <div class="col">
            </div>
            <div class="col col-80">
            	<div class="account">
                SAVING
              </div>
              <div class="money">
                Rp 2.000.000
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="overview-container">
      <div class="divider-button">
        <div class="divider">
        </div>
        <a nav-direction="forward" href="#/saving/add">
	        <button class="button icon-button">
	          <span class="ion-ios-plus-empty">
	            
	          </span>
	        </button>
        </a>
      </div>
      <ion-list>
	      <ion-item class="item saving-item" >
	      	<div class="background" style="background:url('img/xperia.jpg'); background-size:cover;">
		      	<div class="short-description">
		      		Sony Xperia Z4
		      	</div>
		      	<div class="money">
		      		Rp 7.500.000
		      	</div>
		      	<div class="saving-progress">
		      		<div class="money-progress">
		      			Rp 250.000
		      		</div>
		      		<progress value="10" max="100"></progress> 
		      	</div>
		      </div>
	      	<ion-option-button class="button-light button-small-width" ng-click="edit(item)">
	            Edit
          </ion-option-button>
          <ion-option-button class="button-assertive button-small-width" ng-click="share(item)">
	            Delete
          </ion-option-button>
	      </ion-item>
	       <ion-item class="item saving-item" >
	      	<div class="background" style="background:url('img/corsair.jpg'); background-size:cover;">
		      	<div class="short-description">
		      		Corsair K70
		      	</div>
		      	<div class="money">
		      		Rp 1.500.000
		      	</div>
		      	<div class="saving-progress">
		      		<div class="money-progress">
		      			Rp 750.000
		      		</div>
		      		<progress value="50" max="100"></progress> 
		      	</div>
		      </div>
	      	<ion-option-button class="button-light button-small-width" ng-click="edit(item)">
	            Edit
          </ion-option-button>
          <ion-option-button class="button-assertive button-small-width" ng-click="share(item)">
	            Delete
          </ion-option-button>
	      </ion-item>
	      </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
