<ion-view view-title="History">
  <ion-content>
    <div class="row headline">
      <div class='col col-center'><i class='ion-ios-arrow-left left-arrow'></i></div>
      <div class='col-80'>
        <h4 class="text-stable">
          September 2015
        </h4>
        <h1>Rp 9.000.000,-</h1>
      </div>
      <div class='col col-center'><i class='ion-ios-arrow-right right-arrow'></i></div>
      <span class="switch-view"><i class='ion-ios-pie text-stable'></i></span>
    </div>

    <div class="row row-chart">
      <canvas donutchart options="myChartOptions" data="myChartData"></canvas>
    </div>
    
    <div class="row row-chart-legend">
      <div class="col chart-legend block-goodism-green">
        <p>FOOD</p>
        <h4>Rp 1.932.000,-</h4>
      </div>
      <div class="col chart-legend block-goodism-red">
        <p>TRANSPORTATION</p>
        <h4>Rp 1.342.000,-</h4>
      </div>
    </div>
    <div class="row row-chart-legend">
      <div class="col chart-legend block-goodism-blue">
        <p>ENTERTAINMENT</p>
        <h4>Rp 721.000,-</h4>
      </div>
      <div class="col chart-legend block-goodism-orange">
        <p>OTHERS</p>
        <h4>Rp 352.000,-</h4>
      </div>
    </div>
    <div class="row row-stat">
      <div class="col stat-item block-goodism-light-grey">
        <span class='pull-left'><b>Starting Balance</b></span>
        <span class='pull-right'>Rp 402.301,-</span>
      </div>
    </div>
    <div class="row row-stat">
      <div class="col stat-item block-goodism-light-grey">
        <span class='pull-left'><b>Ending Balance</b></span>
        <span class='pull-right'>Rp 402.301,-</span>
      </div>
    </div>
    <div class="row row-stat">
      <div class="col stat-item block-goodism-light-grey">
        <span class='pull-left'><b>Cashflow</b></span>
        <span class='pull-right'>Rp 402.301,-</span>
      </div>
    </div>
  </ion-content>
</ion-view>
  