<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer-outline" href="#/tab/dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Saving" icon-off="ion-ios-box-outline" icon-on="ion-ios-box-outline" href="#/tab/saving">
    <ion-nav-view name="tab-saving"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="History" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock-outline" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-settings" icon-on="ion-ios-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
